<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid main" th:fragment="homecopy">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"  src="http://img5.imgtn.bdimg.com/it/u=3245007520,4182163415&fm=11&gp=0.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a>快速学会Springboot</a></h4>
                    进来看看进来看看进来看看进来看看进来看看进来看看进来看看进来看看
                    <p>
                        <a class="aw-question-tags" href="https://elasticsearch.cn/explore/category-16">活动</a>
                        • <a href="https://elasticsearch.cn/people/medcl" class="aw-user-name">medcl</a>
                        <span class="text-desc">发布了置顶文章 • 24 个评论 • 9011 次浏览 • 2019-12-06 21:10</span>
                        <span class="text-color-999 related-topic hide"> • 来自相关话题</span>
                    </p>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            问题标题：请用精简的语言描述您发布的问题，不超过25字
            问题扑充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料：
        </div>
    </div>
</div>

</body>
</html>