<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbu-bbs</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/self.css">

</head>
<body>
    <div th:replace="navigation::navcopy"></div>  <!--导航栏-->
    <div th:replace="home::homecopy"></div>        <!--首页文章块-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</body>
</html>