<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/self.css">

</head>
<body>
<div th:replace="navigation::navcopy"></div> <!--导航栏-->

<div class="container main" th:fragment="homecopy">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true">我的</span></h2>
            <hr>
            <div class="media" th:each="article : ${pageInfo.list}">
                <div class="media-body">
                    <h1 class="media-heading">
                        <a th:href="'/article/' + ${article.id}" th:text="${article.title}"></a>
                    </h1> <!--文章标题-->
                    <p>
                        <a class="article-tag" href="#" th:if="${article.tag!=''}" th:text="${article.tag}">软件工程</a>
                        <span class="text-desc">[[${article.commentCount}]] 个评论 • [[${article.viewCount}]] 次浏览 • [[${#dates.format(article.gmtCreate,'yyyy-MM-dd')}]]</span>
                    </p>
                    <hr>
                </div>

            </div>

            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">
                    <!--首页-->
                    <li>
                        <a th:href="'/profile/article/?pageNum='+${pageInfo.navigateFirstPage}">首页</a>
                    </li>
                    <!--上一页-->
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/profile/article/?pageNum=' + ${pageInfo.prePage}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <!--当前显示的页号-->
                    <th:block th:each="nav : ${pageInfo.navigatepageNums}">
                        <li th:class="${nav==pageInfo.pageNum}?'active':'' "
                            th:if="${(nav < (pageInfo.pageNum-2))||(nav > (pageInfo.pageNum+2)) ?'false':'true'}">
                            <a th:href="'/profile/article/?pageNum=' + ${nav}"
                               th:text="${nav}"></a></li>
                    </th:block>
                    <!--下一页-->
                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/profile/article/?pageNum=' + ${pageInfo.nextPage}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <!--尾页-->
                    <li>
                        <a th:href="'/profile/article/?pageNum='+${pageInfo.navigateLastPage}">尾页</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group profile-list">
                <a href="/profile/article"
                   th:class="${section == 'article'}?'active list-group-item':'list-group-item'">我的文章</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}?'active list-group-item':'list-group-item'">回复
                    <span class="badge">4</span></a>

            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
</body>
</html>